.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2rem;
}

.top-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    justify-content: space-between;
}

.back-button {
    display: flex;
    align-items: center;
    color: #6DC1BC;
    text-decoration: none;
    cursor: pointer;
}

.back-icon {
    width: 48px;
    height: 48px;
}

.logo {
    width: 150px;
    height: 150px;
}

.profile-container {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #4A5255;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    width: 250px;
    position: relative;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: calc(100% - 40px);
}

.menu-item:hover {
    background-color: #7FA6C0;
}

.menu-divider {
    width: 100%;
    height: 1px;
    background-color: #7FA6C0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.profile-name {
    font-size: 36px;
    color: #ffffff;
}

.profile-form-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #2F3638;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.manage-friends-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.manage-friends-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #2F3638;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    color: white;
}

.manage-friends-modal-content .back-button {
    align-self: flex-start;
    margin-bottom: 10px;
    cursor: pointer;
}

.manage-friends-modal-content .back-button .back-icon {
    width: 24px;
    height: 24px;
}

.profile-form .back-button {
    align-self: flex-start;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile-form .back-button .back-icon {
    width: 24px;
    height: 24px;
}

#add-friend-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#friend-login {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    background-color: #4A5255;
    width: 100%;
    box-sizing: border-box;
}

#add-friend-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-friend-form button:hover {
    background-color: #45a049;
}

#current-friends {
    margin-top: 20px;
    width: 100%;
}

#friends-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#friends-list li {
    padding: 10px;
    border-bottom: 1px solid #7FA6C0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.friend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.delete-friend-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    min-width: 60px; 
    text-align: center; 
    margin-left: auto; 
}

.delete-friend-button:hover {
    background-color: #cc0000;
}


.file-input {
    display: none;
}

.file-input-label {
    background-color: #6DC1BC;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.file-input-label:hover {
    background-color: #82d4d0;
}

.file-name {
    color: white;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.form-buttons {
    display: flex;
    gap: 10px;
    width: 35%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#upload-button {
    background-color: #4CAF50;
    color: white;
}

@media only screen and (max-width: 767px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .menu {
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .profile {
        margin-top: 150px;
        order: -1;
    }

    .profile-picture {
        width: 250px;
        height: 250px;
    }

    .profile-name {
        font-size: 30px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .profile-container {
        flex-direction: row;
    }
}
