.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #3a3f42;
    border-radius: 20px;
    padding: 10px 20px;
    width: 50%;
}

.search-bar input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 10px;
}

.search-bar input::placeholder {
    color: #7a8285;
}

.search-bar input:focus {
    border: none;
}

.notes-section {
    width: 100%;
    padding-bottom: 50px; 
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.note-card {
    background-color: #6DC1BC;
    border-radius: 10px;
    width: calc(33.33% - 10px);
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.note-card h3 {
    margin: 0 0 10px;
    padding: 10px 10px 0 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    max-height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    flex-shrink: 0;
}

.note-card p {
    flex-grow: 1;
    margin: 0;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
}

.add-note-button {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom, #72edf2 0%, #5151e5 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0px 8px 16px rgba(72, 144, 255, 0.3),
                0px 12px 25px rgba(72, 144, 255, 0.5); 
    transition: all 0.3s ease;
}

.add-note-button:hover {
    background: linear-gradient(to top, #5151e5 0%, #72edf2 100%);
    box-shadow: 0px 10px 20px rgba(72, 144, 255, 0.4),
                0px 20px 35px rgba(72, 144, 255, 0.9); 
    transform: scale(1.1); 
}

.add-note-button img {
    width: 36px;
    height: 36px;
}

.toggle-button {
    cursor: pointer;
    margin-left: 10px;
}

.toggle-button .material-symbols-outlined {
    vertical-align: middle;
    font-size: 1em;
}

/* Note Form CSS */
.note-form-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.note-form {
    display: flex;
    flex-direction: column;
    background: #2F3638;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    position: relative;
}

.note-title, .note-content {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
    color: white;
}

.note-title {
    background: #4A5255;
}

.note-content {
    height: 250px;
    background: linear-gradient(to bottom, #565A60 0%, #4A5255 100%);
    resize: none;
}

input.note-title, textarea.note-content {
    font-size: 1.2rem;
    margin: 10px 0;
    padding-left: 10px;
    color: white;
    background: #4A5255;
    border: none;
    border-radius: 8px;
    width: calc(100% - 40px);
}

textarea.note-content {
    height: 250px;
    padding: 15px;
}

.share-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
}

.shared-with {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.friend, .friend-blur {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #4C5F5D;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.friend-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    z-index: 1;
}

.friend-blur {
    position: relative;
}

.friend-blur .remove-icon {
    display: none;
}

.friend-blur span {
    z-index: 1;
}

.friend-blur:hover .remove-icon {
    display: flex;
}

.friend-blur:hover .friend-icon,
.friend-blur:hover span {
    filter: blur(5px);
}

.remove-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    display: none;
    color: white;
    font-size: 1.5rem;
    border: none;
}


.add-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    background: linear-gradient(to bottom, #8DDCC4 0%, #5985B9 100%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

.add-friend:hover {
    background: linear-gradient(to bottom, #5985B9 0%, #8DDCC4 100%);
    box-shadow: 0px 10px 20px rgba(72, 187, 255, 0.7);
}

.add-friend img {
    width: 30px;
    height: 30px;
}

.save-note {
    background: linear-gradient(to bottom, #8DDCC4 0%, #5985B9 100%);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
    transition: all 0.3s ease;
}

.save-note:hover {
    background: linear-gradient(to bottom, #5985B9 0%, #8DDCC4 100%);
    box-shadow: 0px 10px 20px rgba(72, 187, 255, 0.7);
}

.save-note img {
    width: 40px;
    height: 40px;
}

/* Styl dla przycisku usuwania */
.delete-note {
    background: linear-gradient(to bottom, #FF6B6B 0%, #C0392B 100%);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 20px;
    transition: all 0.3s ease;
}

.delete-note:hover {
    background: linear-gradient(to bottom, #C0392B 0%, #FF6B6B 100%);
    box-shadow: 0px 10px 20px rgba(255, 107, 107, 0.7);
}

.delete-note img {
    width: 40px;
    height: 40px;
}

/* Note Modal CSS */
.note-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.note-modal {
    background: #2F3638;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h3.note-title, input.note-title {
    margin-bottom: 20px;
}

div#modal-shared-with.shared-with, div#shared-with.shared-with {
    margin-bottom: 20px;
}

p#modal-note-content.note-content, textarea#note-content.note-content {
    margin-top: 0;
    display: block;
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
    word-wrap: break-word;
}

/* Share Note Modal CSS */
.share-note-modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.share-note-modal {
    background: #2F3638;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.share-note-modal h3 {
    margin-bottom: 20px;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.friend-item {
    display: flex;
    align-items: center;
    background-color: #3A3F42;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.friend-item:hover {
    background-color: #4A5255;
}

.friend-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-item span {
    font-size: 1.2rem;
    color: white;
}

/* Zaznaczony znajomy */
.friend-item.selected {
    background-color: #6DC1BC;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover dla zaznaczonego znajomego */
.friend-item.selected:hover {
    background-color: #4FA096;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.share-note-save {
    padding: 15px 30px;
    background: linear-gradient(180deg, #7FA6C0 0%, #83CDCE 100%);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.4);
    margin: 0 auto;
}

.share-note-save:hover {
    background: linear-gradient(180deg, #83CDCE 0%, #7FA6C0 100%);
}

/* Dostosowanie dla widoku mobilnego */
@media only screen and (max-width: 767px) {
    .container {
        padding: 1rem;
    }

    .profile-icon,
    .logo {
        width: 75px;
        height: 75px;
    }

    .profile-icon {
        margin-left: 0px;
        margin-right: 10px;
    }

    .logo {
        margin-right: 0px;
    }

    .search-bar {
        width: 60%;
    }

    .notes-container {
        gap: 5px;
    }

    .note-card {
        width: calc(50% - 5px);
        height: 150px;
    }

    .add-note-button {
        left: 50%;
        transform: translateX(-50%);
    }

    .note-form {
        width: 85%;
    }

    .note-modal {
        width: 85%;
    }

    .share-note-modal {
        width: 85%;
    }
}
